
.wrap {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
}
.container {
    width: 860px;
}
.header {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
}
.header_image {
    width: 35%;
    display: flex;
    background: url(../logo.jpg) no-repeat;
    background-size: contain;
    background-position: center;
}
.header_items {
    width: 65%;
    margin-left: 80px;
    display: flex;
    justify-content: space-around;
}
a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    color: black;
}
.containerCard {
    margin: 0 auto;
    min-height: 430px;
    display: flex;
    flex-wrap: wrap;

}
.cardBlock {
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    width: 430px;
    min-height: 430px;
    box-sizing: border-box;
    background: url(../222.jpg);
    background-size: cover;
}
.leftCardBlock {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #fff;
}
h2 {
    margin: 15px 0;
    font-size: 34px;
}
p {
    margin: 0;
}
.rightCardBlock {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.cardsName {
    width: 140px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #0090ff;
}
.buy {
    display: flex;
    flex-direction: row;
    
}
.buyCard {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #24badd;
    border-radius: 5px 0 0 5px;
}

.buyForm {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 40px solid #24badd;
    border-bottom: 20px solid transparent;
}
.priceCard {
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 24px;
    background: yellow;
}

/* @media (max-width: 1720px) {
    .container {
        max-width: 1290px;
        margin: 0 auto;
    }
    .cardBlock:nth-child(4) {
        min-height: 130px;
        padding: 20px;
    }
}
@media (max-width: 1440px) {
    a {
        font-size: 14px;
    }
}
@media (max-width: 1290px) {
    .container {
        max-width: 860px;
        margin: 0 auto;
    }
    .header {
        max-width: 860px;
        margin: 0 auto;
    }
    a {
        display: none;
    }
    .header_items {
        width: 10%;
        margin-top: 20px;
        margin-left: 400px;
        background: url(../menu.svg) no-repeat;
    }
    .header_image {
        width: 90%;
    }
    .cardBlock:nth-child(4) {
        padding: 20px;
        min-height: 130px;
   }
   .cardBlock:nth-child(3) {
        padding: 20px;
        min-height: 130px;
   }
}

@media (max-width: 860px) {
    .container {
        max-width: 430px;
        margin: 0 auto;
    }
    .cardBlock:nth-child(4) {
        padding: 20px;
        min-height: 130px;
    }
    .cardBlock:nth-child(3) {
        padding: 20px;
        min-height: 130px;
    }
    .cardBlock:nth-child(2) {
        padding: 20px;
        min-height: 130px;
    }
} */